<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Introdução ao Vue JS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

    <div id="app">

        <gui-titulo titulo="Formulários"></gui-titulo>

        <p>Texto: {{ texto }}</p>
        <p>
            <input type="text" v-model="texto">
        </p>

        <p>TextArea: {{ textArea }}</p>
        <p style="white-space: pre-line">TextArea: {{ textArea }}</p>
        <p>
            <textarea v-model="textArea" name="" cols="30" rows="10"></textarea>
        </p>

        <p>Checkbox:</p>
        <input type="checkbox" id="aceitaTermos" v-model="termos">
        <label for="aceitaTermos">{{termos}}</label>

        <p>Multiple Checkbox: {{notificacoes}}</p>
        <input type="checkbox" id="receberEmail" value="email" v-model="notificacoes">
        <label for="receberEmail">Receber E-mail</label>
        <input type="checkbox" id="receberSMS" value="sms" v-model="notificacoes">
        <label for="receberSMS">Receber SMS</label>
        <input type="checkbox" id="receberTelefone" value="telefone" v-model="notificacoes">
        <label for="receberTelefone">Receber SMS</label>

        <p>Rádio: {{sexo}}</p>
        <p>
            <input type="radio" id="masculino" value="M" v-model="sexo">
            <label for="masculino">Masculino</label>
            <input type="radio" id="feminino" value="F" v-model="sexo">
            <label for="feminino">Feminino</label>
        </p>

    </div>
    <script type="text/javascript">
        Vue.component('gui-titulo',{
            props: ['titulo'],
            template: "<h2>{{ titulo }}</h2>",
        });


        var app = new Vue({
            el: "#app",
            data: {
                texto: '',
                textArea: '',
                termos: false,
                notificacoes: [],
                sexo: null
            },
        });
    </script>
</body>
</html>
