<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Introdução ao Vue JS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

    <div id="app">

        <gui-titulo v-bind:titulo="meuTitulo"></gui-titulo>

        <input type="text" v-model="meuTitulo">

        <gui-tabela v-bind:titulos="['Titulo', 'Descrição','link']" v-bind:registros="registros"></gui-tabela>

        <p v-once>{{ meuTitulo }}</p>

        <p v-html="html">{{html}}</p>

        <p>{{ 37.123456798 | trataValor }}</p>

    <script type="text/javascript">
        Vue.component('gui-titulo',{
            props: ['titulo'],
            template: "<h2>{{ titulo }}</h2>",
        });

        Vue.component('gui-tabela',{
            props: ['titulos', 'registros'],
            template: '<table style="width: 100%">'+
            '<thead>'+
                '<tr>'+
                    '<th v-for="titulo in titulos">{{ titulo }}</th>'+
                '</tr>'+
            '</thead>'+
            '<tbody>'+
                '<tr v-for="registro in registros">'+
                    '<td v-for="item in registro">{{ item }}</td>'+
                '</tr>'+
            '</tbody>'+
        '</table>',
        });

        var app = new Vue({
            el: "#app",
            data: {
                meuTitulo: 'Esse é o titulo',
                registros: [
                    {titulo:'Título 1', descricao:'descrição 1', idade: '13'},
                    {titulo:'Título 2', descricao:'descrição 2', idade: '18'},
                    {titulo:'Título 3', descricao:'descrição 3', idade: '33'},
                    {titulo:'Título 4', descricao:'descrição 4', idade: '24'},
                ],
                html: '<a href="#">Esse é um link</a>'
            },
            filters: {
                trataValor: function(valor){
                    return ('R$ '+(valor).toFixed(2)).replace('.',',');
                }
            }
        });
    </script>
</body>
</html>
